.Avatar {
  border-radius: 50%;
  border: 3px solid white;
  width: 300px;
}

.Subtitle {
  padding-left: 40px;
  max-width: 500px;
}

.App-header {
  background-color: #E7EFF4;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6A7D96;
}
